header {
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;

    display: flex;
    align-items: center;
}

header a svg {
    margin-right: 16px;
    color: var(--primary-color);
}

@media(max-width: 1210px) {
    header {
        padding: 0 8%;
    }
}

@media(max-width: 600px) {
    header {
        flex-wrap: wrap;
    }

    header > * {
        width: 100%;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}